$logo-heading: "Rubik", sans-serif;
$heading-text: "Karla", sans-serif;
$body-color: #323841;
$board-color: #0173d4;
$player-1-color: #fe6869;
$player-two-color: #fffc82;
$secondary-color: #6a6090;
$link-color: #ede7e3;
$third-color: #cfd77e;
$fourth-color: #b9babc;
