@import "./variables";

body {
  margin: 0;
  background-color: $body-color;
}

// header and navvar section
header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 3rem;
    color: $player-1-color;
    font-family: $logo-heading;
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $link-color;
    max-width: 450px;
    width: 100%;
    a {
      //   margin-right: 1rem;
      color: inherit;
      text-decoration: none;
      font-size: 1.3rem;
      transition: all 0.3s ease;
      font-family: $heading-text;

      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
        text-decoration: underline;
        color: $player-1-color;
      }
    }
  }
}

// root container
.root {
  margin: auto;
  background-color: $board-color;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 400px;
  width: 100%;
  grid-gap: 5px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  #para {
    color: $player-1-color;
    font-weight: 500;
    font-size: 1.5rem;
    display: none;
  }
}
.prediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 1.5rem;
  .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 200px;
    // width: 100%;

    #player-color {
      // background-color: $player-2-color;
      height: 60px;
      border-radius: 50%;
      width: 60px;
    }
    #result {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 700;
      font-family: $heading-text;
      width: max-content;
      // margin-left: 50px;
      text-transform: uppercase;
    }
  }
}

.div {
  width: 100%;
  background-color: $body-color;
  border-radius: 50%;
  height: 60px;
}
button {
  display: inline-block;
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  font-weight: 500;
  padding: 0.5em 1.5em;
  outline: none;
  border: none;
  background-color: $player-1-color;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

button::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 100%;
  left: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transform: translate(-50%, 50%) scale(0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #161616;
}

button:hover::before {
  transform: translate(-50%, 50%) scale(15);
}

// Media queries
// looks good until 800

@media (max-width: 685px) {
  .root,
  .prediv {
    width: 60vw;
    max-width: auto;
  }
  .div {
    height: 50px;
  }
  header .nav {
    max-width: 40vw;
    justify-content: space-between;
    margin-right: 0.5rem;
  }
  header h1 {
    padding: 0;
    font-size: 2rem;
    // margin: inherit 0;
  }
}
@media (max-width: 650px) {
  .div {
    height: 8vh;
  }

  .prediv .status #player-color {
    width: 8vh;
    height: 8vh;
  }
  header .nav a {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .root,
  .prediv {
    width: calc(7.5vh * 6 + 30px);
    // max-width: auto;
  }
  .div {
    height: 7.5vh;
  }
  .prediv .status #player-color {
    width: 7.5vh;
    height: 7.5vh;
  }
}
@media (max-width: 350px) {
  header h1 {
  }
  header .nav a {
    font-size: 0.8rem;
  }
}
