@import "./variables";

body {
  margin: 0;
  background-color: $body-color;
}

// header and navvar section
header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 3rem;
    color: $player-1-color;
    font-family: $logo-heading;
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $link-color;
    max-width: 450px;
    width: 100%;
    a {
      //   margin-right: 1rem;
      color: inherit;
      text-decoration: none;
      font-size: 1.3rem;
      transition: all 0.3s ease;
      font-family: $heading-text;

      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
        text-decoration: underline;
        color: $player-1-color;
      }
    }
  }
}

// root container
.root {
  margin: auto;
  background-color: $board-color;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 400px;
  width: 100%;
  grid-gap: 5px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  #para {
    color: $player-1-color;
    // display: none;
  }
}
.prediv {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  margin-bottom: 1.5rem;
  .status {
    display: flex;
    justify-content: space-between;

    #player-color {
      // background-color: $player-2-color;
      height: 60px;
      border-radius: 50%;
      width: 60px;
    }
    #result {
      color: #fff;
    }
  }
}

.div {
  width: 100%;
  background-color: $body-color;
  border-radius: 50%;
  height: 60px;
}
// %player-x-div {
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   animation-name: fall-animation;
//   animation-duration: 500ms;
// }

// //animation
// @keyframes fall-animation {
//   0% {
//     transform: translateY(-500px);
//   }
//   100% {
//     transform: translateY(0px);
//   }
// }

// .player-one-div {
//   @extend %player-x-div;
//   background-color: $player-1-color;
// }
// .player-two-div {
//   @extend %player-x-div;
//   background: $player-2-color;
// }
